<a href="https://colab.research.google.com/github/Tulasi-ummadipolu/Data-science-Batch1/blob/main/Data%20Science%20Day-4%20Assignment-1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question-1

In [16]:
import pandas as pd
print(pd.__version__)

1.1.4

Question-2

In [17]:
import numpy as np
import pandas as pd

data=np.array(['A','B','C','D','E'])

series=pd.Series(data)
print(series)

0    A
1    B
2    C
3    D
4    E
dtype: object

In [18]:
import numpy as np
import pandas as pd

data=np.array(['b','a','s','h','a'])

series=pd.Series(data,index=[1,2,3,4,5])
print(series)

1    b
2    a
3    s
4    h
5    a
dtype: object

Question-3

In [19]:
import numpy as np
import pandas as pd

data=np.array(['b','a','s','h','a'])

series=pd.Series(data,index=[1,2,3,4,5])

df=series.to_frame().reset_index()

df

   index  0
0      1  b
1      2  a
2      3  s
3      4  h
4      5  a

Question-4

In [20]:
import seaborn as sns

mpg=sns.load_dataset('mpg')
print(mpg)

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
393  27.0          4  ...     usa            ford mustang gl
394  44.0          4  ...  europe                  vw pickup
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[398 rows x 9 columns]

Question-5

In [21]:
import seaborn as sns
import pandas as pd

mpg=sns.load_dataset('mpg')

df=pd.DataFrame(mpg)

df.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

Question-6

In [22]:
import seaborn as sns
import pandas as pd

mpg=sns.load_dataset('mpg')

df=pd.DataFrame(mpg)

df[df['origin'].str.contains('usa')]

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]